@import "../base/variables";
@import "../base/mixins";
header {
  background: #f4f4f40a;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #dedddd80;
  z-index: 1000;

  .nav {
    display: flex;
    width: 1180px;
    position: absolute;
    margin: 10px 0;

    &__logo {
      flex: 1;
    }

    &__menu {
      flex: 3;

      ul {
        display: flex;
        position: relative;
        width: 100%;
        margin-left: 20px;

        li {
          margin: 20px 30px;

          a {
            @include font-a($black, 16px);
            transition: all 0.3s;

            &:hover {
              color: $green;
            }

            i {
              margin-left: 5px;
              font-size: 10px;
            }
          }

          &.dropdown {
            height: 50px;
            position: relative;

            &:hover {
              .arrow-up {
                display: block;
              }
              .dropdown-list {
                display: flex;
              }
            }

            .dropdown-list {
              display: none;
              position: absolute;
              left: -10px;
              width: 130px;
              top: 50px;
              margin-left: 10px;
              border: 3px solid $green;
              padding: 10px;
              background: #fff;
              z-index: 1000;

              ul {
                display: inline-block;
                @include font-a($black, 16px);
                margin-left: 10px;

                a {
                  @include font-a($black, 16px, 600);
                }
              }

              &__item {
                display: flex;
                flex-direction: column;
                margin: 0 auto;

                .list-name {
                  border-bottom: 1px solid #81818133;
                  padding-bottom: 10px;
                  margin-bottom: 20px;
                  margin-left: 30px;
                }
              }

              li {
                margin: 0;
                position: relative;

                a {
                  @include font-a($black, 14px, 600);
                }

                &:hover {
                  &:before {
                    content: "";
                    position: absolute;
                    top: 40%;
                    width: 5px;
                    height: 5px;
                    background: $green;
                  }

                  a {
                    padding-left: 10px;
                    @include font-a($green, 13px, 400);
                  }
                }
              }
            }
          }
        }
      }
    }

    &__cart {
      flex: 3;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin-top: 10px;

      .cart,
      .search {
        margin: 0 20px;
        cursor: pointer;
      }

      .nav__cart__item {
        display: flex;
        justify-content: center;
        align-items: baseline;
        z-index: 1600;

        .nav__cart__item__search {
          position: relative;

          i {
            position: absolute;
            top: 20%;
            left: -10px;
            color: #d9d9d9;
          }
        }
      }

      .bar {
        padding: 10px;
        background: #000;
        color: #fff;
        display: none;
        cursor: pointer;
      }

      input {
        display: none;
      }

      &__bar {
        &__menu {
          position: fixed;
          width: 40%;
          height: 100%;
          left: 0;
          top: 0;
          background: #fff;
          padding: 50px;
          display: flex;
          flex-direction: column;
          display: none;
        }

        .bar-cart {
          display: none;
        }
      }

      .cart {
        .arrow-up {
          margin-left: -5px;
        }

        &:hover .nav__cart__info {
          display: block;
        }

        &:hover .arrow-up {
          display: block;
        }
      }

      .nav__cart__info {
        display: none;
        position: absolute;
        top: 40px;
        margin-left: -80px;
        width: 100%;
        height: 290px;
        border: 3px solid $green;
        background: #fff;

        &__product {
          display: flex;

          img {
            flex: 2;
            padding: 10px;
          }

          &__content {
            flex: 3;
            padding: 10px 0;
          }

          i {
            flex: 1;
            text-align: center;
            padding: 10px;
            font-size: 12px;
          }
        }

        &__total {
          display: flex;
          padding: 10px 0;
          justify-content: space-between;
          border-top: 1px solid #81818133;
          margin: 10px;

          span {
            margin-right: 20%;
          }
        }

        &__btn {
          padding: 0 10px 20px;
          button {
            @include button(#000, 12px, 5px);
          }
        }
      }
    }
  }
}

.icon-nav {
  display: none;
  justify-content: flex-end;
  align-items: center;

  i {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .icon-show {
    i {
      border: 1px solid #333;
      padding: 5px;
      z-index: 1000;
    }
  }

  .menu-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #1c1c1c75;
    z-index: 800;
    visibility: visible;
  }

  .menu__vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 1500;
    color: #000;
    width: 35%;
    height: 2000px;
    overflow: hidden;
    animation: navi 1s forwards;
    padding: 20px;
    transition: all 0.5s ease-in;

    .menu__logo {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .menu__item {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      margin-left: 10px;

      ul > li {
        padding: 10px 0;
        font-size: 1.8rem;

        &:hover > a {
          color: $green;
        }
      }

      .dropdown {
        .dropdown-list {
          display: none;
          margin-left: 20px;
        }

        &:hover .dropdown-list {
          display: block;
        }
      }
    }

    .menu-cart {
      display: flex;
      margin-top: 100px;

      .cart-item span {
        top: -8px;
      }
    }

    .menu__btn {
      display: flex;
      margin-top: 100px;

      .dropdown-user {
        right: -120px;
      }
    }
  }

  .hidden {
    visibility: hidden;
  }

  @keyframes navi {
    0% {
      left: -500px;
    }
    100% {
      left: 0px;
    }
  }

  .menu-logout {
    text-align: center;
    margin-top: 50px;

    .dropdown-item {
      width: 100%;
      display: flex;
      justify-content: flex-start !important;
      align-items: center;
      border-radius: 3px;
      background: $green;
      color: #fff;
      font-size: 12px;
      outline: none;
      cursor: pointer;
      border: none;
      margin: 5px 0;
      padding: 10px 15px !important;
      text-transform: uppercase;

      &:hover {
        color: #fff;
        background: #333;
      }
    }
  }
}

// Responsive
@media screen and (max-width: 1300px) {
  .icon-nav {
    display: flex;
    margin-left: 30px;
  }

  .nav {
    width: 720px !important;

    &__menu {
      display: none;
    }

    &__cart {
      margin: 15px 0 !important;
      align-items: baseline;
      position: static !important;

      &__item {
        &__search i {
          left: 0 !important;
        }
      }

      .access {
        .access-btn {
          display: none;
        }
      }

      .cart,
      .search {
        margin-left: 10px !important;
      }

      &__info {
        top: 75px !important;
        width: auto !important;
      }

      .bar {
        display: inline !important;
        margin-left: 10px;
      }

      &__bar {
        .nav__cart__bar--checkbox:checked ~ &__menu {
          display: block;
        }

        &__menu {
          .bar-logo {
            margin-bottom: 40px;
          }

          .bar-menu {
            padding: 50px;
            ul li {
              margin-bottom: 20px;

              a {
                @include font-a($black, 12px);
                transition: all 0.3s;

                &:hover {
                  color: $green;
                }

                i {
                  margin-left: 5px;
                  font-size: 10px;
                }
              }

              &.dropdown {
                &:hover {
                  .dropdown-list {
                    display: flex;
                    flex-direction: column;
                  }
                }

                .dropdown-list {
                  display: none;
                  width: 100%;
                  position: absolute;
                  left: 200px;
                  top: 0;
                  margin-left: 20px;
                  border: 3px solid #789629;
                  padding: 30px 30px;
                  background: #fff;

                  ul {
                    display: inline-block;
                    @include font-a($black, 14px);
                    margin-top: 20px;

                    a {
                      @include font-a($black, 14px);
                    }
                  }

                  li {
                    margin: 0;
                    position: relative;

                    a {
                      @include font-a($black, 13px, 400);
                    }

                    &:hover {
                      &:before {
                        content: "";
                        position: absolute;
                        top: 40%;
                        width: 5px;
                        height: 5px;
                        background: $green;
                      }

                      a {
                        padding-left: 10px;
                        @include font-a($green, 13px, 400);
                      }
                    }
                  }

                  .dropdown-list__item {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    .list-name {
                      border-bottom: 1px solid #81818133;
                      padding-bottom: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .nav {
    width: 450px !important;
  }

  .nav__cart__bar__menu {
    width: 60% !important;

    .bar-menu {
      padding: 30px;
    }

    .dropdown {
      .dropdown-list {
        width: 80% !important;
        padding: 20px !important;
      }
    }
  }

  .nav__cart__info {
    z-index: 100;
  }

  .menu__vertical {
    width: 60% !important;
  }

  .nav__cart__item > .nav__cart__item__search {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .nav {
    width: 320px !important;

    &__cart {
      .bar-cart {
        display: flex !important;
        padding: 0 20px;

        .cart,
        .search {
          display: flex;
        }
      }
    }
  }

  .nav__cart__bar__menu {
    width: 80% !important;
  }

  .nav__cart__bar__menu {
    .bar-menu {
      ul li.dropdown {
        .dropdown-list {
          left: 150px;
          padding: 10px !important;
        }
      }
    }
  }

  .menu__vertical {
    width: 100% !important;
  }
}
